$about-font-size: 22px;
$about-sections-height: 87vh;
$about-sections-height-ie: 87vh;


//adjusting top padding to account for fixed subnav
.about-us{
	padding-top: 99px;
	color: $brand-primary;
}

//about us page wrapper
.about-us-page-wrap{
	padding-bottom: 100px;
	@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active){
		overflow-x: hidden;
	}
}

//fixed subnav styles
.about-us-fixed-nav{
	background-color: white;
	position: fixed;
	z-index: 100;
	top: 70px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-right: 30px;
	.navbar-nav{
		@include mobile{
			float: right;
			margin: 0;
			padding: 0;
				li{
					display: inline-block;
				a{
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
		@include iphone6-plus-landscape{
			margin-top: 18px;
		}
	}
	@include mobile{
		padding-right: 15px;
	}
	@include iphone6-plus-landscape{
		top: 50px;
	}
	@media only screen and (min-width: 768px){
		width: 750px;
	}
	@media only screen and (min-width: 992px){
		width: 970px;
	}
	@media only screen and (min-width: 1200px){
		width: 1170px;
	}
	li{
		&:nth-child(odd){
			background-color: $light-gray;
			@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active){
				background: $light-gray-ie;
			}
		}
		&:nth-child(even){
			background-color: $medium-gray;
			@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active){
				background: $medium-gray-ie;
			}
		}
		&.active{
			background-color: $brand-primary;
			a{
				color: white;
				&:hover{
					color: white;
				}
			}
		}
		a{
			padding: 11px 10px 5px 10px;
			&:focus{
				background-color: $brand-primary;
				color: white;
			}
			&:hover{
				background-color: $brand-primary;
				color: white;
			}
		}

	}
}

//applies to all sections  //moved up above sections for customization below on background positions
#about-newmark, #transactions-and-rates, #services, #lenders, #contact {
	height: $about-sections-height;
	background-size: cover;
	background-position: center center;
	@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active){
		height: $about-sections-height-ie;
	}
	@include mobile { 
		height: 91vh;
		background-position-x: 50%;
	};
	@include iphone6-plus-landscape{
		height: 76vh;
	}
}

//about section
#about-newmark{
	background: url('../images/about-background.jpg');
	background-size: cover; //full width
	background-repeat: no-repeat; //remove tiling of background image
	@include ipad-landscape{
		background-position-x: 50%; //move over background to the left to see more orange ribbon
	}
	@include ipad-portrait{
		background-position-x: 75%; //move over background to the left to see more orange ribbon
	}
	.about-content{
		@include center-center;
		color: $brand-primary;
		@include mobile {
			padding: 0px 7vw 20vw 7vw; //shorten length of paragraph and center it slightly higher for vertical screens
		}
		@include iphone6-plus-landscape{
			padding-top: 20vw;
		}
		h1{
			margin-top: 0;
			@include mobile {
				padding:0 20px;
				font-size: 24px;
			};
			// @include iphone5-landscape {
			// 	padding:0 20px;
			// 	font-size: 24px;
			// };
		}
		p{
			font-size: $about-font-size;
			@include mobile {
				padding: 0 20px;
				font-size: 16px;
			};
			// @include iphone5-landscape {
			// 	padding: 0 20px;
			// 	font-size: 16px;
			// };
		}
	}
}

//transactions and rates section
#transactions-and-rates{
	background: url('../images/about-transactions-rates-background.jpg');
	background-size: cover; //full width
	background-repeat: no-repeat; //remove tiling of background image
	background-position-x: 50%; //scoot image to be centered
	// @include mobile { //show on mobile
	// 	display: none;
	// };
}

//services section
#services{
	background: url('../images/about-services-background.jpg');
	background-size: cover; //full width
	background-repeat: no-repeat; //remove tiling of background image
	background-position-x: 75%; //scoot image over to show more blue and fill up bottom space
	padding-top: 15px;
	// @include mobile { //trying similar height for all sections on mobile
	// 	height: 580px !important;
	// };
	@include iphone6-plus-landscape{
		background-position-y: -185%;
	}
	.nav-tabs{
		margin-left: 15px;
		margin-right: 15px;
		@include ipad-landscape, mobile{
			border-bottom: none; //remove bottom line on stacked tabs
			margin-top: 5px; //move tabs down for even spacing on the sides
		}
		li{
			// @include mobile { leaving tab mode on ipad vertical
			// 	width: 100%;
			// };
			width: (100% / 5);
			&:nth-child(odd){
				background-color: white;
			}
			&:nth-child(even){
				background-color: $medium-gray;
				@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active){
					background-color: $medium-gray-ie;
				}
			}
			a{
				padding-top: 10px;
				padding-left: 15px;
				padding-right: 0;
				margin-right: 0;
				border-radius: 0;
				&:hover{
					background-color: $brand-primary;
					border-color: $brand-primary;
					color: white;
				}
			}
			&.active{
				a{
					background-color: $brand-primary;
					border: 1px solid transparent;
					color: white;
				}
			}
			@include mobile {
				margin: 0;
			}
			@include ipad-landscape{
				width: (100% / 3);
			}
			@include ipad-portrait{
				width: (100% / 3);	
			}
		}
	}
	.mortgage-content, .loan-content, .debt-content, .acquisition-content, .consulting-content{
		padding-top: 7%;
		@include mobile{
			padding: 12% 8vw 0vw 8vw; //shorten length of paragraph and center it slightly higher for vertical screens
		}
		@include iphone6-plus-landscape{
			padding-top: 0vw;
		}
		h1{
			margin-top: 10px;
			@include mobile {
				// padding:0 20px; //global padding above for the content div
				font-size: 36px;
			}
			@include iphone6-plus-landscape{
				font-size: 24px;
				padding: 0;
				margin: 0;
			}
		}
		p{
			font-size: $about-font-size;
			@include mobile {
				// padding:0 20px; //global padding above for the content div
				font-size: 16px;
				padding: 0;
				
			}
			@include iphone6-plus-landscape{
				font-size: 14px;
				line-height: 17px;
			}
		}
		h2 {
			// @include mobile {
			// 	// padding:0 20px; //global padding above for the content div
			// };
			@include iphone6-plus-landscape{
				font-size: 18px;
				padding: 0;
				margin: 15px 0 5px 0;
			}
		}
	}
}

//lenders section
#lenders{
	background: url('../images/about-lenders-background.jpg');
	background-size: cover; //full width
	background-repeat: no-repeat; //remove tiling of background image
	background-position-x: 88%; //scoot image over to show it centered
	.col-sm-6{
		@include iphone6-plus-landscape{
			width: 50%;
		}
	}
	.col-sm-4{
		@include iphone6-plus-landscape{
			width: 50%;
			position: absolute;
			right: 0;
			top: 40px;
			z-index: 10;
			height: 245px;
			overflow-y: scroll;
			display: block;
			// background-color: rgba(255,255,255,.5);
		}
	}
	h1, h2, h3, h4, h5, h6{
		margin-top: 0;
		@include mobile {
			padding:0 20px;
			font-size: 24px;
		};
	}
	p{
		font-size: $about-font-size;
		@include mobile {
			padding: 0 20px;
			font-size: 16px;
		}
		@include iphone6-plus-landscape{
			font-size: 14px;
		}
	}
	.lenders-content{
		padding-top: 7%;
		@include iphone6-plus-landscape{
			padding-top: 5%;
		}
	}
	.lenders-list{
		background-color: rgba(255,255,255,0.7);
		padding: 15px 15px;
	}
	@include ipad-portrait{
		background-position-x: 65%; //centered image
	}
}

//contact section
#contact{
	p{
		line-height: 1.25vw;
	}
	background-color: white;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat; //sans tiling
	padding-top: 15px;
	transition: all 0.3s ease-in-out;
	@include iphone6-plus-landscape{
		padding-top: 0;
		margin-top: 12px;
	}
	&.san-francisco{
		background-image: url('../images/about-contact-san-francisco.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.sacramento{
		background-image: url('../images/about-contact-sacramento.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.los-angeles{
		background-image: url('../images/about-contact-los-angeles.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.newport-beach{
		background-image: url('../images/about-contact-newport-beach.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.seattle{
		background-image: url('../images/about-contact-seattle.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.spokane{
		background-image: url('../images/about-contact-spokane.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.phoenix{
		background-image: url('../images/about-contact-phoenix.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.las-vegas{
		background-image: url('../images/about-contact-las-vegas.jpg');
		transition: all 0.3s ease-in-out;
	}
	.nav-tabs{
		margin-left: 15px;
		margin-right: 15px;
		@include ipad-landscape, mobile {
			margin: 0;
			border-bottom: none; //remove bottom line on stacked tabs
		};
		li{
			// @include mobile { //keep the cities as tabs
			// 	width: 100%;
			// };
			width: (100% / 8);
			text-align: center;
			&:nth-child(odd){
				background-color: white;
			}
			&:nth-child(even){
				background-color: $medium-gray;
				@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active){
					background-color: $medium-gray-ie;
				}
			}
			&.active{
				a{
					border: 1px solid transparent;
					border-radius: 0;
					background-color: $brand-primary;
					color: white;
				}
			}
			a{
				margin-right: 0;
				border-radius: 0;
				&:hover{
					border-radius: 0;
					background-color: $brand-primary;
					border-color: $brand-primary;
					color: white;
				}
			}
			@include mobile{
				width: (100% /4);
				&:nth-child(5){
					background-color: $medium-gray;
				}
				&:nth-child(6){
					background-color: white;
				}
				&:nth-child(7){
					background-color: $medium-gray;
				}
				&:nth-child(8){
					background-color: white;
				}
			}
		}
	}
	.location-info-box{
		background-color: rgba(255,255,255,0.7);
		padding: 10px 15px;
		position: relative;
		top: ($about-sections-height / 2.2);
		transform: translateY(-50%);
		@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active){
			top: ($about-sections-height-ie / 2.2);
		}
		@include ipad-portrait{
			width: 47%;
			float: left;
			margin-left: 3%;
		}
		@include iphone6-plus-landscape{
			top: 16vw;
			width: 43%;
		}
		li{
			font-size: 16px;
			@include iphone6-plus-landscape{
				font-size: 14px;
				line-height: 17px;
			}
		}
		h3 {
			@include iphone6-plus-landscape{
				margin: 10px 0;
			}
		}
	}
	.staff-contacts-info-box{
		background-color: rgba(255,255,255,0.7);
		height: ($about-sections-height * .70);
		position: relative;
		top: ($about-sections-height / 2.2);
		transform: translateY(-50%);
		padding: 10px 15px;
		overflow-y: scroll;
		@include ipad-landscape{
			height: ($about-sections-height * .785);
		}
		@include ipad-portrait{
			width: 44%;
			float: right;
			margin-right: 3%;
			height: ($about-sections-height * .55);
		}
		@include iphone6-plus-landscape{
			top: 16vw;
		}
		.staff-contacts-individual{
			height: 130px;
			background-color: $medium-gray;
			margin-bottom: 15px;
			padding: 10px 15px;
			color: white;
			p{
				// font-size: 14px;
			}
		}
	}
	@include mobile {
		padding: 0;
	};
}



// *{
// 	outline: 1px solid red;
// 	background-color: pink;
// 	overflow-x: hidden;
// }
