$about-font-size: 22px;
.about-us{
	// background-color: orange;
	// height: 200vh;
	// padding-bottom: 100px;
	padding-top: 99px;
	color: $brand-primary;
}

.about-us-page-wrap{
	padding-bottom: 100px;
}

.about-us-fixed-nav{
	background-color: white;
	position: fixed;
	z-index: 100;
	top: 70px;
	left: 0;
	right: 0;
	// width: 81.1%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-right: 30px;
	// visibility: hidden;
	@media only screen and (min-width: 768px){
		width: 750px;
	}
	@media only screen and (min-width: 992px){
		width: 970px;
	}
	@media only screen and (min-width: 1200px){
		width: 1170px;
	}
	li{
		&:nth-child(odd){
			background-color: $light-gray;
		}
		&:nth-child(even){
			background-color: $medium-gray;
		}
		&.active{
			background-color: $brand-primary;
			a{
				color: white;
				&:hover{
					color: #333;
				}
			}
		}
		a{
			padding: 5px 10px;
			&:focus{
				background-color: $brand-primary;
				color: white;
			}
		}

	}
}

.bottom-test{
	position: absolute;
	top: 50%;
	// width: 81%;
	background-color: blue;
}

.about-section{
	// padding: 20px 50px;
}

#about-newmark{
	background: url('../images/about-background.jpg');
	.about-content{
		@include center-center;
		color: $brand-primary;
		h1{
			margin-top: 0;
		}
		p{
			font-size: $about-font-size;
		}
	}
}
#transactions-and-rates{
	background-color: purple;
}
#services{
	background: url('../images/about-services-background.jpg');
	padding-top: 15px;
	.nav-tabs{
		margin-left: 15px;
		margin-right: 15px;
		li{
			width: (100% / 5);
			&:nth-child(odd){
				background-color: white;
			}
			&:nth-child(even){
				background-color: $medium-gray	;
			}
			a{
				padding-top: 10px;
				padding-left: 15px;
				padding-right: 0;
				margin-right: 0;
				border-radius: 0;
				&:hover{
					background-color: $brand-primary;
					color: white;
				}
			}
			&.active{
				a{
					// outline: 2px solid $brand-primary;
					// background-color: inherit;
					background-color: $brand-primary;
					color: white;
				}
			}
		}
	}
	.mortgage-content, .loan-content, .debt-content, .acquisition-content, .consulting-content{
		padding-top: 7%;
		h1{
			margin-top: 10px;
		}
		p{
			font-size: $about-font-size;
		}
	}
}
#lenders{
	background: url('../images/about-lenders-background.jpg');
	h1, h2, h3, h4, h5, h6{
		margin-top: 0;
	}
	p{
		font-size: $about-font-size;
	}
	.lenders-content{
		padding-top: 7%;
	}
	.lenders-list{
		background-color: rgba(255,255,255,0.7);
		padding: 15px 15px;
	}
}
#contact{
	background-color: white;
	background-size: cover;
	background-position: center center;
	padding-top: 15px;
	transition: all 0.3s ease-in-out;
	&.san-francisco{
		background-image: url('../images/about-contact-san-francisco.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.sacramento{
		background-image: url('../images/about-contact-sacramento.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.los-angeles{
		background-image: url('../images/about-contact-los-angeles.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.newport-beach{
		background-image: url('../images/about-contact-newport-beach.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.seattle{
		background-image: url('../images/about-contact-seattle.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.spokane{
		background-image: url('../images/about-contact-spokane.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.phoenix{
		background-image: url('../images/about-contact-phoenix.jpg');
		transition: all 0.3s ease-in-out;
	}
	&.las-vegas{
		background-image: url('../images/about-contact-las-vegas.jpg');
		transition: all 0.3s ease-in-out;
	}
	.nav-tabs{
		margin-left: 15px;
		margin-right: 15px;
		li{
			width: (100% / 8);
			text-align: center;
			&:nth-child(odd){
				background-color: white;
			}
			&:nth-child(even){
				background-color: $medium-gray;
			}
			&.active{
				a{
					border: 1px solid transparent;
					border-radius: 0;
					background-color: $brand-primary;
					color: white;
				}
			}
			a{
				&:hover{
					border-radius: 0;
					background-color: $brand-primary;
					color: white;
				}
			}
		}
	}
}

#about-newmark, #transactions-and-rates, #services, #lenders, #contact {
	height: 70vh;
	background-size: cover;
	background-position: center center;
}