.homepage-figure{
	background: url(../images/newmark-paper-01.jpg);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.navbar-brand{
	width: 50%;
}