.homepage-figure{
	background: url(../images/newmark-paper-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	@include ipad-landscape{
		background-position-x: 55%;
	}
	@include ipad-portrait{
		background-position-x: 35%;
	}
	@include iphone6-plus-landscape{
		background-size: 135%;
	}
	@include iphone6-landscape{
		background-size: 135%;
	}
	@include iphone5-landscape{
		background-size: 150%;
		background-position-x: 20%;
	}
	@include iphone6-plus-portrait{
		background-position-x: 0;
	}
	@include iphone6-portrait{
		background-position-x: 0; 
	}
	@include iphone5-portrait{
		background-position-x: 0; 
	}
}

h2.homepage-slogan {
    @include responsive-font(2.1vw, 20px);
    width: 30vw;
    margin-left: -15px;
	@include large-screen{
		font-size: 1.85vw;
		width: 25vw;
	}
	@include ipad-portrait{
		font-size: 4.0vw;
		width: 55vw;
	}
	@include iphone{
		margin: 0;
	}
	@include iphone6-plus-landscape{
		width: 38vw;
	}
	@include iphone5-landscape{
		width: 38vw;
	}
	@include iphone5-landscape{
		width: 50vw;
	}
	@include iphone6-plus-portrait{
		width: 64vw;
	}
	@include iphone6-portrait{
		width: 77vw;
	}
	@include iphone5-portrait{
		width: 77vw;
	}
}

.navbar-brand{
	width: 50%;
}