.production-team{
	background: url('../images/team-background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	min-height: 110vh;
}


.grid-producer{
	margin-bottom: 400px;
	.producer-card{
		background-color: $light-gray;
		width: 250px;
		figcaption{
			padding: 0 15px 5px 15px;
		}
		margin-bottom: 30px;
	}
}

.btn-group{
	width: 98%;
	margin-bottom: 15px;
	&:nth-child(2){
		margin-bottom: 25px;
	}
	.btn{
		color: $medium-gray;
		border-radius: 0;
		&.location{
			width: (100% / 5);
			@media only screen and (max-width: 767px){
				width: (100% / 2.5)
			}
		}
		&.region{
			width: (100% / 6);
		}
		&:nth-child(odd){
			background-color: $light-gray;
		}
		&:nth-child(even){
			background-color: $medium-gray;
		}
	}
}