$producer-image-height: 205.188px;

.single-producer{
	background-color: black;
	background: url('../images/team-background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	// min-height: 100vh;
}

#single-producer-page{
	min-height: 110vh;
	.col-xs-4, .col-xs-8{
		@include iphone-portrait{
			width: 50%;
		}
	}
	.grid {
		margin-top: 30px;
		.transaction-card {
			margin-left: 0;
			margin-bottom: 30px;
			width: 262px;
			// background-color: white;
			@include ipad-landscape{
				width: 212px;
			}
			@include ipad-portrait{
				width: 220px;
			}
			@include iphone6-plus-landscape{
				width: 215px;
			}
			@include iphone6-landscape{
				width: 192px;
			}
			@include iphone5-landscape{
				width: 159px;
			}
			@include iphone6-plus-portrait{
				width: 177px;
			}
			@include iphone6-portrait{
				width: 157px;
			}
			@include iphone5-portrait{
				width: 130px;
			}
		}
	}
}

.producer-info-box{
	background: $brand-primary;
	color: white;
	padding: 30px 15px;
	height: $producer-image-height;
	a{
		color: white;
		&:hover{
			color: $medium-gray;
		}
	}
	@media only screen and (max-width: 1199px){
		height: ($producer-image-height - 38)
	}
	@include iphone{
		padding: 15px;
		height: ($producer-image-height - 68)
	}
}

.producer-title-box{
	background: $light-gray;
	padding: 15px;
	height: $producer-image-height;
	@media only screen and (max-width: 1199px){
		height: ($producer-image-height - 38);
	}
	@include iphone{
		margin-bottom: 30px;
	}
	@include iphone6-plus-landscape{
		height: ($producer-image-height - 42);
	}
	@include iphone6-landscape{
		height: ($producer-image-height - 60);
	}
	@include iphone6-plus-portrait{
		height: ($producer-image-height - 70);
	}
	@include iphone6-portrait{
		height: ($producer-image-height - 83);
	}
	@include iphone5-landscape{
		height: ($producer-image-height - 83);
	}
	@include iphone5-portrait{
		height: ($producer-image-height - 106);
	}
	h2{
		@include iphone-portrait, iphone5-landscape{
			margin-top: 5px;
		}
		@include iphone5-portrait{
			margin: 0;
		}
	}
	h3{
		@include iphone-portrait, iphone5-landscape{
			margin-top: 15px;
		}
		@include iphone5-portrait{
			margin-top: 5px;
		}
	}
}

.producer-tabs{
	margin-top: 30px;
	.nav-tabs{
		border: none;
		li{
			width: (100% / 3);
			text-align: center;
			&:nth-child(odd){
				background-color: $light-gray;
			}
			&:nth-child(even){
				background-color: #eee;
			}
			h3{
				margin-top: 10px;
			}
			a{
				border-radius: 0;
				border: none;
				&:hover{
					background-color: $brand-primary;
					color: white;
				}
				&:active{
					background-color: white;
				}
			}
			&.active{
				a{
					border: none;
					border-bottom: 1px solid rgba(255,255,255,0.9);
					background-color: $brand-primary;
					color: white;
				}
			}
		}
	}

	.tab-pane{
		background: rgba(255,255,255,0.9);
		margin-bottom: 50px;
		.producer-bio{
			padding-top: 15px;
		}
	}
}

#resources{
	ul{
		padding: 0;
		li{
			list-style: none;
			margin-right: 2%;
			display: inline-block;
			background-color: $light-gray;
			width: 23%;
			height: 13vw;
			a{
				@include responsive-font(1.7vw, 18px);
				padding: 3vw 0 0 .75vw;
			}
		}
	}
}
