.transaction-card{
	display: inline-block;
	background: $light-gray;
	box-shadow: 0 8px 6px -6px black;
	p,h5{
		padding-left: 5px
	}
	.transaction-type{
		background: $web-blue;
		.transation-type-text{
			background: $web-blue-darker;
			width: 50%;
			color: white;
			text-align: center;
			text-transform: uppercase;
			margin-left: 50%;
			margin-bottom: 0;
			padding: 3px 0;
		}
	}
}