.single-transaction{
	background: url('../images/transactions-background.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom;
}

#single-transaction-page{
	padding-bottom: 500px;
	@media only screen and (max-width: 991px){
		padding-bottom: 300px;
	}
	@media only screen and (max-width: 767px){
		padding-bottom: 150px;
	}
}

.modal{
	top: 100px;
	.modal-header{
		border: none;
	}
	.modal-content{
		background-color: rgba(255,255,255,0.88);
		border-radius: 0;
		padding: 0 30px 20px 15px;
	}
	.close{
		opacity: 1;
		padding: 9px 15px;
		background-color: white;
		border: 4px solid gray;
		border-radius: 100%;
		position: absolute;
		top: -15px;
		right: -45px;
	}
}

.transaction-image{
	width: 100%;
}

.transaction-details{
	background: $light-gray;
	padding: 15px 0 0 50px;
	.table{
		margin-bottom: 0;
	}
	.table-responsive{
		padding-right: 50px;
		th{
			padding-right: 2em;
		}
	}
	.transaction-type{
		.transaction-type-text{
			width: 50%;
			color: white;
			text-align: center;
			text-transform: uppercase;
			margin-left: 50%;
			margin-bottom: 0;
			padding: 3px 0;
		}
		&.retail{
			background: $web-blue;
			.transaction-type-text{
				background: $web-blue-darker;
			}
		}
		&.mixed{
			background: $web-green;
			.transaction-type-text{
				background: $web-green-darker;
			}
		}
		&.industrial{
			background: $web-brown;
			.transaction-type-text{
				background: $web-brown-darker;
			}
		}
		&.mutli-family{
			background: $web-orange;
			.transaction-type-text{
				background: $web-orange-darker;
			}
		}
		&.office{
			background: $web-yellow;
			.transaction-type-text{
				background: $web-yellow-darker;
			}
		}
	}
}

.transaction-more-info{
	margin-top: 30px;
	.transaction-excerpt{
		background: $brand-primary;
		color: white;
		padding: 10px 15px;
		p{
			font-size: 24px;
		}
	}
	.more-info-button{
		background: $brand-primary;
		padding: 20px 0;
		a{
			font-size: 24px;
			padding: 30px;
			border: 4px solid white;
			border-radius: 10px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}