.hidden-tags{
	display: none;
}

h4{
	@include iphone6-plus-portrait{
		font-size: 16px;
	}
}

.search{
	$input-font-size: 26px;
	position: relative;
	margin-bottom: 10px;
	input{
		padding: 10px 15px;
		text-indent: 40px;
		border: none;
		background: $light-gray;
		&[type="text"]{
			width: 100%;
			font-size: $input-font-size;
			@include font-normal-italic;
		}
	}
	.fa-search{
		position: absolute;
		top: 15px;
		left: 15px;
		font-size: $input-font-size;
		color: rgb(200,200,200);
	}
}

.transaction-card{
	display: inline-block;
	background: $light-gray;
	box-shadow: 0 8px 6px -6px black;
	width: 262px;
	margin-bottom: 20px;
	@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active){
		background: $light-gray-ie;	
	}
	figcaption{
		padding-left: 8px;
		padding-bottom: 8px;
		p{
			margin-bottom: 0px;
		}
	}

	// Apple devices

	@include ipad-portrait {
		width: 220px;
	};
	@include ipad-landscape {
		width: 212px;
	};
	@include iphone6-plus-portrait {
		width: 177px;
	};
	@include iphone6-plus-landscape {
		width: 215px;
	};
	@include iphone6-portrait {
		width: 157px;
	};
	@include iphone6-landscape {
		width: 303px;
	};
	@include iphone5-portrait {
		width: 130px;
	};
	@include iphone5-landscape {
		width: 254px;
	};

	// Samsung Devices

	@include galaxy {
		width: 150px;
	};

	// Nokia Devices

	@include nexus10 {
		width: 220px;
	};

	@include nexus4-portrait {
		width: 162px;
	};

	@include nexus5-portrait {
		width: 150px;
	};

	@include nexus6-portrait {
		width: 176px;
	};

	@include nexus7-portrait {
		width: 270px;
	};

	@include nexus-4-landscape {
		width: 269px;
	};

	@include nexus-5-landscape {
		width: 269px;
	};

	@include nexus-6-landscape {
		width: 200px;
	};

	@include nexus-7-landscape {
		width: 220px;
	};


	// Nokia Devices

	@include lumia-portrait {
		width: 130px;
	};

	@include n9-portrait {
		width: 150px;
	};

	@include lumia-landscape {
		width: 236px;
	};

	@include n9-landscape {
		width: 290px;
	};

	.transaction-type{
		.transaction-type-text{
			width: 50%;
			color: white;
			text-align: center;
			text-transform: uppercase;
			margin-left: 50%;
			margin-bottom: 0;
			padding: 3px 0;
		}
		&.retail{
			background: $web-blue;
			.transaction-type-text{
				background: $web-blue-darker;
			}
		}
		&.mixed{
			background: $web-green;
			.transaction-type-text{
				background: $web-green-darker;
			}
		}
		&.industrial{
			background: $web-brown;
			.transaction-type-text{
				background: $web-brown-darker;
			}
		}
		&.multi{
			background: $web-orange;
			.transaction-type-text{
				background: $web-orange-darker;
			}
		}
		&.office{
			background: $web-yellow;
			.transaction-type-text{
				background: $web-yellow-darker;
			}
		}
	}
}
