$footer-height: 35px;

body{
	padding-top: 70px;
	height: 100%;
	@include font-medium;
	color: $newmark-gray;
	-webkit-font-smoothing: antialiased;
	@include font-medium;
	.navbar-fixed-top{
		background-color: white;
		min-height: 75px;
		@include iphone6-plus-landscape{
			min-height: 87px;
		}
	}
	&.home{
		.navbar-fixed-top{
			background-color: transparent;
		}
	}
	.page-title{
		color: $brand-primary;
		@include mobile{
			margin-top: 30px;
		}
		@include iphone6-plus-landscape{
			margin-top: 15px;
		}
		@include iphone5-landscape{
			margin-top: 5px;
		}
		@include iphone-portrait{
			margin-top: 0px;
		}
	}
	p{
		@include responsive-font(1.25vw, 14px);
	}
	a{
		color: $newmark-gray;
		&:hover{
			color: $brand-primary;
		}
	}
	h2{
		@include responsive-font(2.1vw, 24px);
	}
	h3{
		@include responsive-font(1.7vw, 18px);
	}
	blockquote{
		background-color: $brand-primary;
	    width: 40%;
	    color: white;
	    padding: 20px 20px;
	    border: none;
	    float: right;
        margin: 5px 25px;
        @include iphone-portrait{
        	width: 60%;
        	margin-right: 15px;
        }
        @include iphone5-portrait{
        	width: 290px;
        	float: none;
        	margin: 5px 0px;
        }
	    p{
	    	@include responsive-font(1.7vw, 18px);
		    	&:before{
	        	content: "“";
	        	margin-left: -7px;
	        	@include responsive-font(2.1vw, 24px);
	        }
	        	&:after{
        		content: "”";
        		@include responsive-font(2.1vw, 24px);
        		line-height: 1.7vw;
	        }
	        padding-left: 7px;
	    }
	}
	// Terrible hacky way to change titles
	.all-screens{
		display: block;
		@include iphone5-portrait{
			display: none;
		}
	}
	.iphone5-portrait-screen-only{
		display: none;
		@include iphone5-portrait{
			display: block;
		}
	}
	.wrap{
		min-height: 100%;
		margin-bottom: -$footer-height;
		&:after{
			content: "";
			display: block;
		}
	}

	footer{
		background-color: rgb(72,83,91);
		line-height: 1.3;
		color: white;
		p{
			position: relative;
			// top: 50%;
			// transform: translateY(-50%);
			float: right;
			padding-top: 5px;
			margin-right: 40px;
		}
	}

	footer, .wrap:after{
		height: $footer-height;
	}
	&.home{
		footer{
			display: none;
		}
	}
}

// *{
// 	background: black;
// 	color: green;
// 	outline: 1px solid red;
// }

