

body{
	padding-top: 70px;
	height: 100%;
	@include font-medium;
	color: $newmark-gray;
	-webkit-font-smoothing: antialiased;
	.navbar-fixed-top{
		background-color: white;
	}
	&.home{
		.navbar-fixed-top{
			background-color: transparent;
		}
	}
	.page-title{
		color: $brand-primary;
	}
	p{
		font-size: 16px;
	}
	.wrap{
		min-height: 100%;
		margin-bottom: -30px;
		&:after{
			content: "";
			display: block;
		}
	}

	footer{
		background-color: orange;
	}

	footer, .wrap:after{
		height: 30px;
	}
}

// *{
// 	background: black;
// 	color: green;
// 	outline: 1px solid red;
// }

