// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         rgb(0,71,133); //<-- theeese one Newmark blueeee
$light-gray:			rgb(229,232,234);
$light-gray-ie:			rgb(209,212,214);
$medium-gray:			rgb(182,194,201);
$medium-gray-ie:		rgb(172,184,191);
$newmark-gray:			rgb(72,83,91);
$web-blue:				rgb(25,148,185);
$web-blue-darker:		darken($web-blue, 10%);
$web-orange:			rgb(244,121,41);
$web-orange-darker:		darken($web-orange, 10%);
$web-green:				rgb(68,142,57);
$web-green-darker:		darken($web-green, 10%);
$web-yellow:			rgb(255,212,28);
$web-yellow-darker:		darken($web-yellow, 10%);
$web-brown:				rgb(90,60,55);
$web-brown-darker:		darken($web-brown, 10%);
$web-purple:			rgb(102,56,82);
$web-purple-darker:		darken($web-purple, 10%);

//Responsive pixel values for mixins
$iphone5-vertical: 320px;
$iphone6-vertical: 375px;
$iphone6-plus-vertical: 414px;
$iphone5-landscape: 568px;
$iphone6-landscape: 667px;
$iphone6-plus-landscape: 736px;
$ipad-vertical: 768px;
$ipad-landscape: 1024px;
$desktop-991px: 991px;
$desktop-1200px: 1200px;
$desktop-1600px: 1600px;
$desktop-1920px: 1920px;
